html body {
  font-family: arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
#main {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mobileNumber {
  width: 260px;
  height: 47px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(202, 199, 199, 0.801);
  font-size: 18px;
  text-align: center;
}
.boxcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#submitBtn {
  margin-top: 20px;
  width: 190px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid rgba(202, 199, 199, 0.801);
  font-size: 18px;
  background-color: rgb(6, 185, 6);
  color: white;
  font-size: 18px;
  font-style: bold;
  text-align: center;
}
#mobileNumber:focus {
  border: 1px solid #3172ff;
}
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15%;
  margin-left: 20px;
  margin-top: -7%;
  color: blue;
}
.nav a:hover {
  color: blue;
}

.active {
  color: black;
  margin-top: -1%;
  text-decoration: none;
}
img {
  display: block;
  margin-right: 18%;
  margin-left: 6%;
}
h1 {
  padding-left: 15%;
  margin-left: 20px;
  margin-top: -7%;
}
h3 {
  padding-left: 17%;
  font: caption;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
